@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 237 237 237;
  --foreground: 255 255 255;
  --primary: 10 180 99;
  --dark-grey: 218 218 218;
  --pinkish-grey: 196 196 196;
  --warm-grey: 132 132 132;
  --gainsboro: 218 218 218;
  --emerald: 8 153 84;
  --cloud-grey: 56 56 56;
}
html.dark {
  --background: 28 28 28;
  --foreground: 60 60 60;
  --dark-grey: 20 20 20;
  --gainsboro: 32 32 32;
  --pinkish-grey: 120 120 120;
  --cloud-grey: 215 215 215;
  color: #fff;
}

html.dark input[type="text"] {
  background-color: rgba(32, 32, 32, 0.75);
  box-shadow: inset 0 1px 3px 0 rgba(124, 124, 124, 0.75);
}

input[type="text"] {
  box-shadow: inset 0 1px 3px 0 rgba(132,132,132, 0.75);
}

@layer components {
  .card {
    box-shadow: 0px 1px 2px 0 rgba(var(--warm-grey), 0.75);
    border-radius: 4px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}

button, input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}

html, body, #root {
  height: 100%;
}
